div{
    width: 300px;
  
    text-align: center;   
    margin: 0 auto;
}
input{
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
button{
    width: 75px;
    background-color: rgb(64, 224, 0);
    color: rgb(0, 0, 0);

}



